@import url('https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --main-color: ;
	--text-color: rgb(34, 34, 34);
}

html{
	scroll-behavior:smooth;
}

*{
    color: var(--text-color);
    font-family: "Poppins", serif;
  	font-weight: 500;
  	font-style: normal;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #000000 !important;
}

section{
	scroll-margin:60px;
}

.section_head{
	letter-spacing: 0;
	border-color:#ccc !important;
	font-weight: 400 !important;
}

figure {
  margin: 0 0 1rem;
}

.top-nav{
	position: sticky;
	top: 0;
	z-index: 99;
	background: #000000;
	width: 100%;
	box-shadow: 0px 5px 24px -8px rgba(142,142,142,0.6);
	-webkit-box-shadow: 0px 5px 24px -8px rgba(142,142,142,0.6);
	-moz-box-shadow: 0px 5px 24px -8px rgba(142,142,142,0.6);
}

.nav-small{
	z-index: 9999;
	background: rgba(0, 0, 0, 0);
	transform: translateX(-100%);
	transition: 0.3s;
}

.nav-small.nav-small-open{
	transform: translateX(0);
	background: rgba(0, 0, 0, 0.7);
}

.nav-small-inner{
	background: #000000;
	z-index: 99999;
}

.nav-small-inner .logo{
	font-size: clamp(2rem, 4.908vw + .6442rem, 3rem);
}

.hero_text{
    font-size: clamp(2rem, 4.6438vw + .7172rem, 4.2rem);
    font-weight: 900;
	font-family: "Raleway", serif;
	font-optical-sizing: auto;
	font-weight: 800
	font-style: normal;
}

.hero_catch{
    font-size: clamp(1.5rem, 1.5831vw + 1.0627rem, 2.25rem);
    font-weight: 600;
    font-family: "Playwrite IN", serif;
    font-optical-sizing: auto;
    font-style: italic;
	color: #fff;
}

.logo{
    font-family: "Major Mono Display", serif;
  	font-weight: 900;
  	font-style: normal;
    color: #fff;
    font-size: clamp(1.8rem, .9499vw + 1.5376rem, 3.3rem);
	text-decoration: none !important;
}

.nav_link{
	text-decoration: none;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	transition: 0.2s;
}

.nav-small-inner .nav_link{
	border: none !important;
}

.nav_link:hover{
	color: #fff !important;
	border-color: #fff;
	padding: 7px 0 !important;
}

.nav-small-inner .nav_link:hover{
	color: #fff !important;
	border: none !important;
}

.nav_link.active_link{
	color: #fff !important;
}

.dets {
  	font-family: "Montserrat", serif;
  	font-optical-sizing: auto;
  	font-weight: 300;
  	font-style: normal;
	color: #fff;
}

.intro-img{
	border: 2px solid #171717;
	box-shadow: 133px 38px 230px 0px rgba(255,255,255,0.75);
	-webkit-box-shadow: 133px 38px 230px 0px rgba(255,255,255,0.75);
	-moz-box-shadow: 133px 38px 230px 0px rgba(255,255,255,0.75);
}